<div class="row">
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/lesson_day1">Day 1</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Logging in to Mountaineer or Spruce</td> </tr>
      <tr> <td>10:00</td>  <td>Basic Commands to learn (Top 10) and some more</td> </tr>
      <tr> <td>11:00</td>  <td>Text Editors</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>13:00</td>  <td>Using Environmental Modules</td> </tr>
      <tr> <td>14:00</td>  <td>Using Torque and Moab</td> </tr>
      <tr> <td>15:00</td>  <td>Transferring files between systems</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/lesson_day2">Day 2</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Shell Scripting</td> </tr>
      <tr> <td>10:00</td>  <td>Python Scripting</td> </tr>
      <tr> <td>11:00</td>  <td>Using pip and virtualenv</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>13:00</td>  <td>Plotting (gnuplot and matplotlib)</td> </tr>
      <tr> <td>14:00</td>  <td>Building/installing software</td> </tr>
      <tr> <td>15:00</td>  <td>Creating Environmental Modules</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/lesson_day3">Day 3</a></h3>
        <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Advanced Bash/Python Scripting</td> </tr>
      <tr> <td>10:00</td>  <td>Programming in C, Fortran and Python</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>13:00</td>  <td>Parallel Programming with OpenMP</td> </tr>
      <tr> <td>14:00</td>  <td>Parallel Programming with MPI</td> </tr>
      <tr> <td>15:00</td>  <td>Test Driven Development</td> </tr>
      <tr> <td>15:30</td>  <td>Version Control with Git</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Open Session for Specific Research Questions</td> </tr>
    </table>
  </div>  
</div>
