{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron">
  <div class="row">

    <div class="col-md-6">
      <p>
      <a href="{{ site.wvu_site }}" class="pull-left">
              <img src="{{ page.root }}/assets/img/wvu-rc.png"
              alt="WVU Research Computing logo" style="width:440px;height:116px;" />
      </a>
      </p>
      <p>
      <a href="{{ site.wvu_site }}" class="pull-left">
              <img src="{{ page.root }}/assets/img/wvu-logo.png"
              alt="West Virginia University" style="width:440px;height:86px;" />
      </a>
      </p>
    </div>

{% comment %}
    <div class="col-md-10 col-md-offset-1">
{% endcomment %}
<div class="col-md-6">
  {% unless site.title == "Workshop Title" or site.title == "" %}
  <h1>{{site.title}}</h1>
  {% endunless %}
      <h2>{{page.venue}}</h2>
      {% comment %}
      <div class="row">
        <div class="col-md-6">
          {% endcomment %}
          <p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
          {% comment %}
        </div>
        <div class="col-md-6">
          {% endcomment %}
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}

          {% comment %}
        </div>
      </div>
      {% endcomment %}
    </div>
  </div>
</div>
